# RDBMS and SQL

Complete the tasks listed below. You can submit the completed lab until 11:59 PM in the night.

<u>Requirement:</u><br>
Do your best to write Pythonic code instead of the traditional programming code.

### Task 1 (2 marks)

Connect to the supplied database __petsDB__, and write a function named __is_open__ to check if the connection is open or closed. The function, when called, should return either True or False depending upon whether the connection to the database is open or closed. The output in the two cases should look as follows:

True

Connection closed. Cannot operate on a closed database.<br>False

<u>Hint:</u> Use __try__ and __except__ along with the exception error `sqlite3.ProgrammingError` in conjunction with __except__.

In [1]:
### Write your code below this comment.

### Task 2 (2 marks)

Now connect to the provided database __petsDB__ once again and retrieve the names of all the tables from the database as a list of tuples. Also retrieve the column names for all the tables as a list of strings. The outputs should look as follows respectively:

    The names of the tables in the database are as follows:

    [('persons',), ('pets',)]

    The names of the columns in the table 'persons' are as follows:

    ['Id', 'First Name', 'Last Name', 'Age', 'City', 'Zip Code']:

    The first 5 rows in the table 'persons' are as follows:
    
    [(1, 'Erica', None, 22, 'south port', 2345678),
     (2, 'Jordi', None, 73, 'east port', 123456),
     (3, 'Chasity', None, 70, 'new port', 76856785),
     (4, 'Gregg', None, 31, 'new port', 76856785),
     (5, 'Tony', 'Lindgren', 7, 'west port', 2345678)]
     
    The names of the columns in the table 'pets' are as follows:

    ['Owner Id', 'Pet Name', 'Pet Type', 'Treatment Done']:

    The first 5 rows in the table 'pets' are as follows:
    
    [(57, 'mani', 1.0, 0),
     (80, 'tamari', None, 0),
     (25, 'raba', None, 0),
     (27, 'olga', None, 0),
     (60, 'raba', None, 0)]

<u>Hint:</u> Use __sqlite_master WHERE__ ... You would also need to use list comprehension along with the string __join__ method and __map__ function so that the names of columns ('Id', 'First Name' etc) are in title case and separated by a space instead of lower case and separated by hyphens (which is the case with the names coming from the database).

In [2]:
### Write your code below this comment.

### Task 3 (2 marks)

Now transform the tables __persons__ and __pets__ into two Dataframes named __df_persons__ and __df_pets__ respectively, so that you can go ahead with the tasks to follow.

In [3]:
### Write your code below this comment.

### Task 4 (2 marks)

Consider the following question:

__What are counts for each unique age group in the persons database?__

Answer this question using a SQL query from the database (save it as __sql_4__) as well as using the Dataframe __df_persons__ you created in Task 3 above.

The SQL query should return a list of tuples named __rows__ which you should then use to create a Dataframe named __df_sql__ with an index column named `'Age'` and another column named `'Counts'`. The Dataframe should look as follows:

<img align=left src="images/df_sql_res4.png" height="105" width="105">

Similarly, also use methods from __pandas__ in conjunction with the Dataframe __df_persons__ to mimic your SQL query and create another Dataframe named __df_pd__ which looks exactly the same as the Dataframe __df_sql__ shown above.

In [4]:
### Write your code below this comment.

Now answer the following question:

What similarities / differences did you find between the SQL query you wrote and saved as __sql_4__ and the code you used to create the Dataframe __df_pd__?

__Answer__: What I found similar / different was ...

### Task 5 (2 marks)

Consider the following question:

__How many pets are there from the city called "east port"?__

Answer this question using a SQL query from the database (save it as __sql_5__). Also use methods from __pandas__ in conjunction with the Dataframes __df_persons__ and __df_pets__ you created in Task 3 above to mimic your SQL query. Save the joined Dataframe as __df_pd_join__.

In both cases, the output is a number.

In [5]:
### Write your code below this comment.

Now answer the following question:

What similarities / differences did you find between the SQL query you wrote and saved as __sql_5__ and the code you used to create the Dataframe __df_pd_join__?

__Answer__: What I found similar / different was ...